{include file="common/top" /}
<style type="text/css">
.main-container .table tr td {
  vertical-align: middle;
}
.main-container .table tr td a{
  margin-right:10px;
}
#sample-table-1 .menu-icon{
  float: right;line-height: 18px;
}
</style>
</head>
<body class="no-skin" style="font-size: 13px;">
{include file="common/header" /}
<div class="main-container" id="main-container"> {include file="common/sidebar" /}
  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <li> <i class="ace-icon fa fa-home home-icon"></i> <a href="{:url('Index/index')}">{:config('WEB_SITE_NAME')}</a> </li>
          <li> <a href="{:url('index')}">用户管理</a> </li>
          <li class="active">{$pagename}</li>
        </ul>
      </div>
      <div class="page-content">
        <div class="page-header">
          <h1 style="text-align: left;"> {$pagename} <small> <i class="ace-icon fa fa-angle-double-right"></i> 查询出{$info.count}条数据 </small> </h1>
        </div>
        <!-- /.page-header -->
        <div class="row">
          <div class="col-xs-12"> 
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
              <div class="col-xs-12" style="margin-bottom:10px;">
                <form action="{:url('index')}" method="get" class="form-inline" role="form">
                  <div class="form-group">
                    <label>邮箱</label>
                    <input name="keywords" type="text" class="form-control" placeholder="请输入邮箱">
                  </div>
                  <button type="submit" class="btn btn-sm btn-primary">查询</button>
                  <!-- <a class="btn btn-sm btn-success" style="float:right; margin-right:10px;" href="{:url('add')}" >添加用户</a> -->
                  <button type="reset" class="btn btn-sm btn-danger hidden-xs" style="float:right;margin-right:10px;">清空查询条件</button>
                </form>
              </div>
              <div class="col-xs-12">
                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="center">ID</th>
                      <th>用户</th>
                      <th>币种</th>
                      <th>数量{if condition="input('num') == 1"} <i class="menu-icon fa fa-sort-desc" data-type='num' data-value='2'></i>
                        {elseif condition="input('num') == 2"/}<i class="menu-icon fa fa-sort-up" data-type='num' data-value='1'></i>
                        {else /} <i class="menu-icon fa fa-unsorted" data-type='num' data-value='1'></i>
                        {/if}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {volist name="info.list" id="vo" key="k"}
                      <tr>
                        <td class="center">{$vo.id}</td>
                        <td>{$vo.email}</td>
                        <td>{$vo.cur_text}</td>
                        <td>{$vo.total}</td>
                      </tr>
                    {/volist}
                    <tr>
                      <td colspan="2" style="text-align:right">本页数量：{$info.page_sum_total}</td>
                      <td colspan="2" style="text-align:right">总数量：{$info.sum_total}</td>
                    </tr>
                  </tbody>
                </table>
                <div style="float:right;">数字统计:&nbsp;&nbsp;<b>{$info.sum_total}</b></div>
                <div style="width:100%;margin: 0 auto; text-align:center;">
                  <ul class="pagination" >
                    {$info.page}
                  </ul>
                </div>
              </div>
              <!-- /.span --> 
            </div>
            <!-- /.row --> 
            <!-- PAGE CONTENT ENDS --> 
          </div>
          <!-- /.col --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.page-content --> 
    </div>
  </div>
  <!-- /.main-content -->
  <div class="footer">
    <div class="footer-inner"> 
      <!-- #section:basics/footer -->
      <div class="footer-content"> <span class="bigger-120"> <span class="blue bolder">{:config('WEB_SITE_NAME')} </span>{$Think.WEB_VERSION}版 </span></div>
      <!-- /section:basics/footer --> 
    </div>
  </div>
  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"><i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i></a> </div>
<!-- /.main-container --> 
<!-- basic scripts --> 
{include file="common/bottom" /}
<script src="__JS__/layer/layer.js"></script>
<script type="text/javascript">
  // 定位
  $('a[href="/index.php/Admin/Relationship/index.html"]').parents().filter('li').addClass('open active');
</script>
<script type="text/javascript">
  {if condition="input('get.keywords')"}
    $('input[name="keywords"]').val('{$_GET["keywords"]}');
  {/if}
</script>
<script type="text/javascript">
jQuery(function($) {
  //清除查询条件
  $(document).on('click', 'button:reset',function() {
    location.href = '{:url(\'index\')}';
  });
    $('.menu-icon').click(function(){
      var type = $(this).data('type');
      var value = $(this).data('value');
      var form = $(".form-inline").serialize()+'&'+type+'='+value;
      $.post("{:url('index')}",form).success(function(url) {
          location.href = url;
      });
      return false;
  });
});
</script>
</body>
</html>